
   <div class="p-5">
    <h3>Reset your password</h3>
        <form method="POST"  >
            <div class="form-group">
                <label for="newPassField">New password</label>
                <input type="password" class="form-control" id="newPassField"  name="newPassword" >
            </div>
            <div class="form-group">
              <label for="newPassRepeatField">Repeat new password</label>
              <input type="password" class="form-control" id="newPassRepeatField"  name="newPasswordRepeat" >
            </div>
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
   </div>
 


<script>
    const email = req.params.email;
    const verification = req.params.verification;

    document.getElementsByTagName("form").action = "/passwordReset/" + email + "&" + verification;

</script>

</body>
</html>